*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    min-block-size: 100vh;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.2s;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    transition: background-color 0.2s, color 0.2s;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

:focus {
    outline: none;
}

:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.search-form__textfield:focus,
.search-form__pseudo-checkbox:focus,
.content__card-link:focus,
.button:focus {
    outline: none;
}

.content {
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 30px;
    align-items: end;
    padding-block: 50px;
    min-block-size: 100%;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result__video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.content__details {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
}

.content__list-container {
    position: relative;
    height: 578px;
    overflow-y: auto;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 15px;
}

.content__list-item {
    padding-inline: 3px;
}

.content__video-card {
    display: flex;
    align-items: flex-start;
}

.content__video-card-description-container {
    flex-grow: 1;
    padding-inline: 15px;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 108px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
}

.content__title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 120px;
    line-height: 0.97;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.search-form__fieldset-title {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.2;
}

.content__card-link {
    text-decoration: none;
}

.content__video-card-title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-block-end: 5px;
}

.content__video-card-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #fff;
}

.search-form__fieldset-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.search-form__fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.search-form__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.search-form__label:has(.search-form__textfield:focus-visible),
.search-form__label:has(.search-form__pseudo-checkbox:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.search-form__textfield {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-block-end: 5px;
    background: transparent;
    border: none;
    border-block-end: 1px solid #fff;
    inline-size: 100%;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
}

.search-form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
    margin-inline-end: 5px;
    position: relative;
    border: 1px solid #fff;
    background-color: transparent;
    flex-shrink: 0;
}

.search-form__pseudo-checkbox:checked::before {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: #fff;
}

.search-form__label:hover .search-form__label-text:not(.visually-hidden) {
    text-decoration: underline;
}

.button {
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
}

.search-form__submit-button {
    background-color: #fff;
    color: #1b1919;
    padding-block: 10px;
    width: 100%;
}

.more-button {
    background-color: #fff;
    color: #1b1919;
    padding-block: 10px;
    width: 100%;
    margin-block-start: 30px;
}

.button:hover {
    background-color: transparent;
    color: #fff;
}

.button:active {
    background-color: #545050;
    color: #fff;
}

.content__card-link_current {
    background-color: #545050;
}

.content__card-link:hover {
    background-color: transparent;
}

.content__card-link:hover .content__video-card-title {
    text-decoration: underline;
}

.content__card-link:active {
    background-color: #545050;
}